link(rel="stylesheet" href='/static/1.0.1/css/test.css')
script(src='/browser-sync/browser-sync-client.js?v=2.23.1')
script(src='/static/1.0.1/js/main.js')


.test
    | Главная страница
    | (Pug шаблон)




#app




script(src='/static/1.0.1/js/app.js')
